body {
  display: flex;
  min-width: 1160px;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  font-family: Helvetica, sans-serif;
  background-color: rgb(252, 254, 253);
}

header {
  position: static;
}
.logo {
  width: 85px;
  height: 85px;
  float: left;
  margin-left: 80px;
  transition: all 0.3s ease-in-out;
}
.logo:hover {
  background-color: rgb(90, 142, 245);
  border-radius: 50%;
  padding: 5px;
  width: 83px;
  height: 83px;
}

.part_2 {
  margin-right: 60px;
  float: right;
  letter-spacing: 0.2em;
}

.banner {
  width: 100vw;
  min-width: 1160px;
  height: 400px;
}

.solutions {
  display: flex;
  justify-content: space-around;
}
.solution {
  padding: 20px;
  text-align: center;
}
.img_solution {
  width: 300px;
  height: 250px;
}
h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  margin-bottom: 0;
}
h4 {
  font-weight: lighter;
}
.main-content h2 {
  font-weight: 100;
  color: #3d3d3d;
  opacity: 0.7;
}
i {
  color: #bb1f25;
}
hr {
  border-top: 3px solid rgb(90, 142, 245);
  border-bottom: none;
}

footer {
  background-color: #3d3d3d;
  opacity: 0.8;
  text-align: center;
  color: rgb(160, 164, 168);
  padding: 20px 0;
  font-family: Helvetica, sans-serif;
  margin: 0;
}
a {
  color: white;
  font-weight: 500;

  text-decoration: none;
}
a:hover {
  color: rgb(90, 142, 245);
}
